.board {
    margin: 20px auto;
    border: 1px solid black;
    display: grid;
    width: 40vw;
    height: 40vw;
    grid-template-columns: repeat(8, 5vw);
    grid-template-rows: repeat(8, 5vw);
    align-items: stretch;
}